# Home Credit Default Risk
In this notebook I explore the datasets provided for the home credit default risk kaggle challenge.  I will cover the following learning objectives here: 
- Working with structured data
- Encoding of categorical variables 
- Handling missing values 

Some of this notebook follows the helpful kaggle kernel created by Will Koehrsen hosted [here](https://www.kaggle.com/willkoehrsen/start-here-a-gentle-introduction).  Our task is to create a model that predicts an applicants risk of default based on the provided datasets.

In [1]:
import matplotlib.pyplot as plt
import numpy as np 
import pandas as pd 

%matplotlib inline

In [2]:
import glob 
path_to_data = '/home/dmriser/data/kaggle/home-credit/'

for datafile in glob.glob(path_to_data + '*.csv'):
    print(datafile)

/home/dmriser/data/kaggle/home-credit/installments_payments.csv
/home/dmriser/data/kaggle/home-credit/application_test.csv
/home/dmriser/data/kaggle/home-credit/sample_submission.csv
/home/dmriser/data/kaggle/home-credit/HomeCredit_columns_description.csv
/home/dmriser/data/kaggle/home-credit/credit_card_balance.csv
/home/dmriser/data/kaggle/home-credit/application_train.csv
/home/dmriser/data/kaggle/home-credit/bureau.csv
/home/dmriser/data/kaggle/home-credit/POS_CASH_balance.csv
/home/dmriser/data/kaggle/home-credit/bureau_balance.csv
/home/dmriser/data/kaggle/home-credit/previous_application.csv

### Load Data 
The first thing I want to do is take a look at the structure of each dataset provided.  I will check the size of each dataset, the number of missing values, and the number of categorical features to be encoded or otherwise dealt with.

In [3]:
def check_structure(data):
    
    # Check shape
    print('Dataset has shape (samples, features): ', data.shape)
    
    # Check missing values (percentage of total)
    missing_values = data.isnull().sum() / len(data) * 100.0
    missing_values.sort_values(ascending=False, inplace=True)
    
    print('\nDataset missing values: ')
    print(missing_values.head(12))
    
    # Check type of variables 
    print('\nDataset value types: ')
    print(data.dtypes.value_counts())
    
    # List categorical features and their number of unique values
    print('\nDataset categorical summary: ')
    print(data.select_dtypes('object').apply(pd.Series.nunique, axis=0))

In [4]:
app_train = pd.read_csv(path_to_data + 'application_train.csv')
installment_df = pd.read_csv(path_to_data + 'installments_payments.csv')
credit_card_df = pd.read_csv(path_to_data + 'credit_card_balance.csv')
bureau_df = pd.read_csv(path_to_data + 'bureau.csv')
cash_df = pd.read_csv(path_to_data + 'POS_CASH_balance.csv')
bureau_balance_df = pd.read_csv(path_to_data + 'bureau_balance.csv')
prev_app_df = pd.read_csv(path_to_data + 'previous_application.csv')

In [5]:
description = pd.read_csv(path_to_data + 'HomeCredit_columns_description.csv')

### Application Data 
This is the main dataset provided with the application, that contains 122 features/fields (one of those is the target).  It contains plenty of entries with missing data, and 16 features that are categorical in nature.

In [6]:
check_structure(app_train)

('Dataset has shape (samples, features): ', (307511, 122))

Dataset missing values:
COMMONAREA_MEDI             69.872297
COMMONAREA_AVG              69.872297
COMMONAREA_MODE             69.872297
NONLIVINGAPARTMENTS_MODE    69.432963
NONLIVINGAPARTMENTS_MEDI    69.432963
NONLIVINGAPARTMENTS_AVG     69.432963
FONDKAPREMONT_MODE          68.386172
LIVINGAPARTMENTS_MEDI       68.354953
LIVINGAPARTMENTS_MODE       68.354953
LIVINGAPARTMENTS_AVG        68.354953
FLOORSMIN_MEDI              67.848630
FLOORSMIN_MODE              67.848630
dtype: float64

Dataset value types:
float64    65
int64      41
object     16
dtype: int64

Dataset categorical summary:
NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

In [7]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

### Installment Data 
This dataset provides information on previous home credit payments.  Each payment made or missed is a unique row.  The structure of this dataset is simple, containing very few missing values and no categorical variables.  It contains 8 features.

In [8]:
check_structure(installment_df)

('Dataset has shape (samples, features): ', (13605401, 8))

Dataset missing values:
AMT_PAYMENT               0.021352
DAYS_ENTRY_PAYMENT        0.021352
AMT_INSTALMENT            0.000000
DAYS_INSTALMENT           0.000000
NUM_INSTALMENT_NUMBER     0.000000
NUM_INSTALMENT_VERSION    0.000000
SK_ID_CURR                0.000000
SK_ID_PREV                0.000000
dtype: float64

Dataset value types:
float64    5
int64      3
dtype: int64

Dataset categorical summary:
Series([], dtype: float64)

### Credit Card Data
Information on credit cards previously held with home credit.  Contains 23 features, some missing data, and one categorical variable.

In [9]:
check_structure(credit_card_df)

('Dataset has shape (samples, features): ', (3840312, 23))

Dataset missing values:
AMT_PAYMENT_CURRENT           19.998063
AMT_DRAWINGS_OTHER_CURRENT    19.524872
CNT_DRAWINGS_POS_CURRENT      19.524872
CNT_DRAWINGS_OTHER_CURRENT    19.524872
CNT_DRAWINGS_ATM_CURRENT      19.524872
AMT_DRAWINGS_ATM_CURRENT      19.524872
AMT_DRAWINGS_POS_CURRENT      19.524872
CNT_INSTALMENT_MATURE_CUM      7.948208
AMT_INST_MIN_REGULARITY        7.948208
SK_DPD_DEF                     0.000000
SK_ID_CURR                     0.000000
MONTHS_BALANCE                 0.000000
dtype: float64

Dataset value types:
float64    15
int64       7
object      1
dtype: int64

Dataset categorical summary:
NAME_CONTRACT_STATUS    7
dtype: int64

### Bureau Data 
Information about the clients credit standings with other financial institutions.  This dataset contains 17 features, a fair amount of missing data in 4-5 of the fields, and contains three categorical variables.

In [10]:
check_structure(bureau_df)

('Dataset has shape (samples, features): ', (1716428, 17))

Dataset missing values:
AMT_ANNUITY               71.473490
AMT_CREDIT_MAX_OVERDUE    65.513264
DAYS_ENDDATE_FACT         36.916958
AMT_CREDIT_SUM_LIMIT      34.477415
AMT_CREDIT_SUM_DEBT       15.011932
DAYS_CREDIT_ENDDATE        6.149573
AMT_CREDIT_SUM             0.000757
CREDIT_TYPE                0.000000
AMT_CREDIT_SUM_OVERDUE     0.000000
CNT_CREDIT_PROLONG         0.000000
DAYS_CREDIT_UPDATE         0.000000
CREDIT_DAY_OVERDUE         0.000000
dtype: float64

Dataset value types:
float64    8
int64      6
object     3
dtype: int64

Dataset categorical summary:
CREDIT_ACTIVE       4
CREDIT_CURRENCY     4
CREDIT_TYPE        15
dtype: int64

### Cash Dataset 
Point of sale cash and loans information.  This dataset contains eight features, one of which is categorical, and almost no missing entries.

In [11]:
check_structure(cash_df)

('Dataset has shape (samples, features): ', (10001358, 8))

Dataset missing values:
CNT_INSTALMENT_FUTURE    0.260835
CNT_INSTALMENT           0.260675
SK_DPD_DEF               0.000000
SK_DPD                   0.000000
NAME_CONTRACT_STATUS     0.000000
MONTHS_BALANCE           0.000000
SK_ID_CURR               0.000000
SK_ID_PREV               0.000000
dtype: float64

Dataset value types:
int64      5
float64    2
object     1
dtype: int64

Dataset categorical summary:
NAME_CONTRACT_STATUS    9
dtype: int64

### Bureau Balance Data 
This dataset details the payment information from the bureau.

In [12]:
check_structure(bureau_balance_df)

('Dataset has shape (samples, features): ', (27299925, 3))

Dataset missing values:
STATUS            0.0
MONTHS_BALANCE    0.0
SK_ID_BUREAU      0.0
dtype: float64

Dataset value types:
int64     2
object    1
dtype: int64

Dataset categorical summary:
STATUS    8
dtype: int64

### Previous Application Data 
This dataset contains the applicants previous applications for home credit.  It seems to be the second largest, after the applcation, and has 16 categorical variables.

In [13]:
check_structure(prev_app_df)

('Dataset has shape (samples, features): ', (1670214, 37))

Dataset missing values:
RATE_INTEREST_PRIVILEGED     99.643698
RATE_INTEREST_PRIMARY        99.643698
RATE_DOWN_PAYMENT            53.636480
AMT_DOWN_PAYMENT             53.636480
NAME_TYPE_SUITE              49.119754
DAYS_TERMINATION             40.298129
NFLAG_INSURED_ON_APPROVAL    40.298129
DAYS_FIRST_DRAWING           40.298129
DAYS_FIRST_DUE               40.298129
DAYS_LAST_DUE_1ST_VERSION    40.298129
DAYS_LAST_DUE                40.298129
AMT_GOODS_PRICE              23.081773
dtype: float64

Dataset value types:
object     16
float64    15
int64       6
dtype: int64

Dataset categorical summary:
NAME_CONTRACT_TYPE              4
WEEKDAY_APPR_PROCESS_START      7
FLAG_LAST_APPL_PER_CONTRACT     2
NAME_CASH_LOAN_PURPOSE         25
NAME_CONTRACT_STATUS            4
NAME_PAYMENT_TYPE               4
CODE_REJECT_REASON              9
NAME_TYPE_SUITE                 7
NAME_CLIENT_TYPE                4
NAME_GOODS_CATEGORY            28
NAME_PORTFOLIO                  5
NAME_PRODUCT_TYPE               3
CHANNEL_TYPE                    8
NAME_SELLER_INDUSTRY           11
NAME_YIELD_GROUP                5
PRODUCT_COMBINATION            17
dtype: int64

### Aggregate Data 
In the following section, the data are aggregated by the applicant identification number `SK_ID_CURR`.

In [14]:
installment_df.columns

Index([u'SK_ID_PREV', u'SK_ID_CURR', u'NUM_INSTALMENT_VERSION',
       u'NUM_INSTALMENT_NUMBER', u'DAYS_INSTALMENT', u'DAYS_ENTRY_PAYMENT',
       u'AMT_INSTALMENT', u'AMT_PAYMENT'],
      dtype='object')

In [15]:
description

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN
5,8,application_{train|test}.csv,FLAG_OWN_REALTY,Flag if client owns a house or flat,NaN
6,9,application_{train|test}.csv,CNT_CHILDREN,Number of children the client has,NaN
7,10,application_{train|test}.csv,AMT_INCOME_TOTAL,Income of the client,NaN
8,11,application_{train|test}.csv,AMT_CREDIT,Credit amount of the loan,NaN
9,12,application_{train|test}.csv,AMT_ANNUITY,Loan annuity,NaN
10,13,application_{train|test}.csv,AMT_GOODS_PRICE,For consumer loans it is the price of the good...,NaN
11,14,application_{train|test}.csv,NAME_TYPE_SUITE,Who was accompanying client when he was applyi...,NaN
12,15,application_{train|test}.csv,NAME_INCOME_TYPE,"Clients income type (businessman, working, mat...",NaN
13,16,application_{train|test}.csv,NAME_EDUCATION_TYPE,Level of highest education the client achieved,NaN
14,17,application_{train|test}.csv,NAME_FAMILY_STATUS,Family status of the client,NaN
15,18,application_{train|test}.csv,NAME_HOUSING_TYPE,What is the housing situation of the client (r...,NaN
16,19,application_{train|test}.csv,REGION_POPULATION_RELATIVE,Normalized population of region where client l...,normalized
17,20,application_{train|test}.csv,DAYS_BIRTH,Client's age in days at the time of application,time only relative to the application
18,21,application_{train|test}.csv,DAYS_EMPLOYED,How many days before the application the perso...,time only relative to the application
19,22,application_{train|test}.csv,DAYS_REGISTRATION,How many days before the application did clien...,time only relative to the application
20,23,application_{train|test}.csv,DAYS_ID_PUBLISH,How many days before the application did clien...,time only relative to the application
21,24,application_{train|test}.csv,OWN_CAR_AGE,Age of client's car,NaN
22,25,application_{train|test}.csv,FLAG_MOBIL,"Did client provide mobile phone (1=YES, 0=NO)",NaN
23,26,application_{train|test}.csv,FLAG_EMP_PHONE,"Did client provide work phone (1=YES, 0=NO)",NaN
24,27,application_{train|test}.csv,FLAG_WORK_PHONE,"Did client provide home phone (1=YES, 0=NO)",NaN
25,28,application_{train|test}.csv,FLAG_CONT_MOBILE,"Was mobile phone reachable (1=YES, 0=NO)",NaN
26,29,application_{train|test}.csv,FLAG_PHONE,"Did client provide home phone (1=YES, 0=NO)",NaN
27,30,application_{train|test}.csv,FLAG_EMAIL,"Did client provide email (1=YES, 0=NO)",NaN
28,31,application_{train|test}.csv,OCCUPATION_TYPE,What kind of occupation does the client have,NaN
29,32,application_{train|test}.csv,CNT_FAM_MEMBERS,How many family members does client have,NaN
...,...,...,...,...,...
189,192,previous_application.csv,NAME_CASH_LOAN_PURPOSE,Purpose of the cash loan,NaN
190,193,previous_application.csv,NAME_CONTRACT_STATUS,"Contract status (approved, cancelled, ...) of ...",NaN
191,194,previous_application.csv,DAYS_DECISION,Relative to current application when was the d...,time only relative to the application
192,195,previous_application.csv,NAME_PAYMENT_TYPE,Payment method that client chose to pay for th...,NaN
193,196,previous_application.csv,CODE_REJECT_REASON,Why was the previous application rejected,NaN
194,197,previous_application.csv,NAME_TYPE_SUITE,Who accompanied client when applying for the p...,NaN
195,198,previous_application.csv,NAME_CLIENT_TYPE,Was the client old or new client when applying...,NaN
196,199,previous_application.csv,NAME_GOODS_CATEGORY,What kind of goods did the client apply for in...,NaN
197,200,previous_application.csv,NAME_PORTFOLIO,"Was the previous application for CASH, POS, CA...",NaN
198,201,previous_application.csv,NAME_PRODUCT_TYPE,Was the previous application x-sell o walk-in,NaN
199,202,previous_application.csv,CHANNEL_TYPE,Through which channel we acquired the client o...,NaN
200,203,previous_application.csv,SELLERPLACE_AREA,Selling area of seller place of the previous a...,NaN
201,204,previous_application.csv,NAME_SELLER_INDUSTRY,The industry of the seller,NaN
202,205,previous_application.csv,CNT_PAYMENT,Term of previous credit at application of the ...,NaN
203,206,previous_application.csv,NAME_YIELD_GROUP,Grouped interest rate into small medium and hi...,grouped
204,207,previous_application.csv,PRODUCT_COMBINATION,Detailed product combination of the previous a...,NaN
205,208,previous_application.csv,DAYS_FIRST_DRAWING,Relative to application date of current applic...,time only relative to the application
206,209,previous_application.csv,DAYS_FIRST_DUE,Relative to application date of current applic...,time only relative to the application
207,210,previous_application.csv,DAYS_LAST_DUE_1ST_VERSION,Relative to application date of current applic...,time only relative to the application
208,211,previous_application.csv,DAYS_LAST_DUE,Relative to application date of current applic...,time only relative to the application
209,212,previous_application.csv,DAYS_TERMINATION,Relative to application date of current applic...,time only relative to the application
210,213,previous_application.csv,NFLAG_INSURED_ON_APPROVAL,Did the client requested insurance during the ...,NaN
211,214,installments_payments.csv,SK_ID_PREV,ID of previous credit in Home credit related t...,hashed
212,215,installments_payments.csv,SK_ID_CURR,ID of loan in our sample,hashed
213,216,installments_payments.csv,NUM_INSTALMENT_VERSION,Version of installment calendar (0 is for cred...,NaN
214,217,installments_payments.csv,NUM_INSTALMENT_NUMBER,On which installment we observe payment,NaN
215,218,installments_payments.csv,DAYS_INSTALMENT,When the installment of previous credit was su...,time only relative to the application
216,219,installments_payments.csv,DAYS_ENTRY_PAYMENT,When was the installments of previous credit p...,time only relative to the application
217,220,installments_payments.csv,AMT_INSTALMENT,What was the prescribed installment amount of ...,NaN
218,221,installments_payments.csv,AMT_PAYMENT,What the client actually paid on previous cred...,NaN

In [16]:
for c in installment_df.columns:
    print(c, description[description.Row == c].Description.values)

('SK_ID_PREV', array([], dtype=object))
('SK_ID_CURR', array(['ID of loan in our sample',
       'ID of loan in our sample - one loan in our sample can have 0,1,2 or more related previous credits in credit bureau ',
       'ID of loan in our sample', 'ID of loan in our sample',
       'ID of loan in our sample', 'ID of loan in our sample'],
      dtype=object))
('NUM_INSTALMENT_VERSION', array(['Version of installment calendar (0 is for credit card) of previous credit. Change of installment version from month to month signifies that some parameter of payment calendar has changed'],
      dtype=object))
('NUM_INSTALMENT_NUMBER', array(['On which installment we observe payment'], dtype=object))
('DAYS_INSTALMENT', array(['When the installment of previous credit was supposed to be paid (relative to application date of current loan)'],
      dtype=object))
('DAYS_ENTRY_PAYMENT', array(['When was the installments of previous credit paid actually (relative to application date of current loan)'],
      dtype=object))
('AMT_INSTALMENT', array(['What was the prescribed installment amount of previous credit on this installment'],
      dtype=object))
('AMT_PAYMENT', array(['What the client actually paid on previous credit on this installment'],
      dtype=object))

In [17]:
# Add features to installment dataset here.
installment_df['PAYMENT_DIFF'] = installment_df.AMT_PAYMENT - installment_df.AMT_INSTALMENT
installment_df['PAYMENT_PERC'] = installment_df.AMT_PAYMENT / installment_df.AMT_INSTALMENT

# Define aggregation methods for float/int cols
aggregations = {
    'NUM_INSTALMENT_VERSION': ['mean', 'min', 'max'],
    'NUM_INSTALMENT_NUMBER': ['mean', 'min', 'max'],
    'DAYS_INSTALMENT': ['mean', 'min', 'max'],
    'DAYS_ENTRY_PAYMENT': ['mean', 'min', 'max'],
    'AMT_INSTALMENT': ['mean', 'min', 'max'],
    'AMT_PAYMENT': ['mean', 'min', 'max']
               }

install_agg = installment_df.groupby('SK_ID_CURR').aggregate(aggregations)

colname = lambda x, y: 'INSTALL_' + x + '_' + y.upper() 
new_cols = [colname(c[0],c[1]) for c in list(install_agg.columns)]
install_agg.columns = new_cols

In [18]:
install_agg.head()

,INSTALL_DAYS_ENTRY_PAYMENT_MEAN,INSTALL_DAYS_ENTRY_PAYMENT_MIN,INSTALL_DAYS_ENTRY_PAYMENT_MAX,INSTALL_AMT_PAYMENT_MEAN,INSTALL_AMT_PAYMENT_MIN,INSTALL_AMT_PAYMENT_MAX,INSTALL_AMT_INSTALMENT_MEAN,INSTALL_AMT_INSTALMENT_MIN,INSTALL_AMT_INSTALMENT_MAX,INSTALL_NUM_INSTALMENT_NUMBER_MEAN,INSTALL_NUM_INSTALMENT_NUMBER_MIN,INSTALL_NUM_INSTALMENT_NUMBER_MAX,INSTALL_NUM_INSTALMENT_VERSION_MEAN,INSTALL_NUM_INSTALMENT_VERSION_MIN,INSTALL_NUM_INSTALMENT_VERSION_MAX,INSTALL_DAYS_INSTALMENT_MEAN,INSTALL_DAYS_INSTALMENT_MIN,INSTALL_DAYS_INSTALMENT_MAX
SK_ID_CURR,,,,,,,,,,,,,,,,,,
100001,-2195.000000,-2916.0,-1628.0,5885.132143,3951.000,17397.900,5885.132143,3951.000,17397.900,2.714286,1,4,1.142857,1.0,2.0,-2187.714286,-2916.0,-1619.0
100002,-315.421053,-587.0,-49.0,11559.247105,9251.775,53093.745,11559.247105,9251.775,53093.745,10.000000,1,19,1.052632,1.0,2.0,-295.000000,-565.0,-25.0
100003,-1385.320000,-2324.0,-544.0,64754.586000,6662.970,560835.360,64754.586000,6662.970,560835.360,5.080000,1,12,1.040000,1.0,2.0,-1378.160000,-2310.0,-536.0
100004,-761.666667,-795.0,-727.0,7096.155000,5357.250,10573.965,7096.155000,5357.250,10573.965,2.000000,1,3,1.333333,1.0,2.0,-754.000000,-784.0,-724.0
100005,-609.555556,-736.0,-470.0,6240.205000,4813.200,17656.245,6240.205000,4813.200,17656.245,5.000000,1,9,1.111111,1.0,2.0,-586.000000,-706.0,-466.0

In [19]:
for c in credit_card_df.columns:
    print(c, description[description.Row == c].Description.values)

('SK_ID_PREV', array([], dtype=object))
('SK_ID_CURR', array(['ID of loan in our sample',
       'ID of loan in our sample - one loan in our sample can have 0,1,2 or more related previous credits in credit bureau ',
       'ID of loan in our sample', 'ID of loan in our sample',
       'ID of loan in our sample', 'ID of loan in our sample'],
      dtype=object))
('MONTHS_BALANCE', array(['Month of balance relative to application date (-1 means the freshest balance date)',
       'Month of balance relative to application date (-1 means the information to the freshest monthly snapshot, 0 means the information at application - often it will be the same as -1 as many banks are not updating the information to Credit Bureau regularly )',
       'Month of balance relative to application date (-1 means the freshest balance date)'],
      dtype=object))
('AMT_BALANCE', array(['Balance during the month of previous credit'], dtype=object))
('AMT_CREDIT_LIMIT_ACTUAL', array(['Credit card limit during the month of the previous credit'],
      dtype=object))
('AMT_DRAWINGS_ATM_CURRENT', array(['Amount drawing at ATM during the month of the previous credit'],
      dtype=object))
('AMT_DRAWINGS_CURRENT', array(['Amount drawing during the month of the previous credit'],
      dtype=object))
('AMT_DRAWINGS_OTHER_CURRENT', array(['Amount of other drawings during the month of the previous credit'],
      dtype=object))
('AMT_DRAWINGS_POS_CURRENT', array(['Amount drawing or buying goods during the month of the previous credit'],
      dtype=object))
('AMT_INST_MIN_REGULARITY', array(['Minimal installment for this month of the previous credit'],
      dtype=object))
('AMT_PAYMENT_CURRENT', array(['How much did the client pay during the month on the previous credit'],
      dtype=object))
('AMT_PAYMENT_TOTAL_CURRENT', array(['How much did the client pay during the month in total on the previous credit'],
      dtype=object))
('AMT_RECEIVABLE_PRINCIPAL', array(['Amount receivable for principal on the previous credit'],
      dtype=object))
('AMT_RECIVABLE', array(['Amount receivable on the previous credit'], dtype=object))
('AMT_TOTAL_RECEIVABLE', array(['Total amount receivable on the previous credit'], dtype=object))
('CNT_DRAWINGS_ATM_CURRENT', array(['Number of drawings at ATM during this month on the previous credit'],
      dtype=object))
('CNT_DRAWINGS_CURRENT', array(['Number of drawings during this month on the previous credit'],
      dtype=object))
('CNT_DRAWINGS_OTHER_CURRENT', array(['Number of other drawings during this month on the previous credit'],
      dtype=object))
('CNT_DRAWINGS_POS_CURRENT', array(['Number of drawings for goods during this month on the previous credit'],
      dtype=object))
('CNT_INSTALMENT_MATURE_CUM', array(['Number of paid installments on the previous credit'], dtype=object))
('NAME_CONTRACT_STATUS', array(['Contract status during the month',
       'Contract status (active signed,...) on the previous credit',
       'Contract status (approved, cancelled, ...) of previous application'],
      dtype=object))
('SK_DPD', array(['DPD (days past due) during the month of previous credit',
       'DPD (Days past due) during the month on the previous credit'],
      dtype=object))
('SK_DPD_DEF', array(['DPD during the month with tolerance (debts with low loan amounts are ignored) of the previous credit',
       'DPD (Days past due) during the month with tolerance (debts with low loan amounts are ignored) of the previous credit'],
      dtype=object))

In [26]:
from sklearn.preprocessing import LabelEncoder

In [29]:
cat_cols = [credit_card_df.columns[i] for i, c in enumerate(credit_card_df.dtypes) if c == 'object']
print('Categoricals: ', cat_cols)

# Change the strings to integers.
for cat in cat_cols: 
    encoder = LabelEncoder()
    credit_card_df[cat] = encoder.fit_transform(credit_card_df[cat])
    
# Add features that make sense here.    
aggregations = {
    'AMT_BALANCE': ['min', 'mean', 'max']
}

credit_card_agg = credit_card_df.groupby('SK_ID_CURR').aggregate(aggregations)
colname = lambda x, y: 'CC_' + x + '_' + y.upper() 
new_cols = [colname(c[0],c[1]) for c in list(credit_card_agg.columns)]
credit_card_agg.columns = new_cols

('Categoricals: ', [])

In [30]:
credit_card_agg.head()

            CC_AMT_BALANCE_MIN  CC_AMT_BALANCE_MEAN  CC_AMT_BALANCE_MAX
SK_ID_CURR
100006                     0.0             0.000000                0.00
100011                     0.0         54482.111149           189000.00
100013                     0.0         18159.919219           161420.22
100021                     0.0             0.000000                0.00
100023                     0.0             0.000000                0.00

In [31]:
for c in bureau_df.columns:
    print(c, description[description.Row == c].Description.values)

('SK_ID_CURR', array(['ID of loan in our sample',
       'ID of loan in our sample - one loan in our sample can have 0,1,2 or more related previous credits in credit bureau ',
       'ID of loan in our sample', 'ID of loan in our sample',
       'ID of loan in our sample', 'ID of loan in our sample'],
      dtype=object))
('SK_ID_BUREAU', array([], dtype=object))
('CREDIT_ACTIVE', array(['Status of the Credit Bureau (CB) reported credits'], dtype=object))
('CREDIT_CURRENCY', array(['Recoded currency of the Credit Bureau credit'], dtype=object))
('DAYS_CREDIT', array(['How many days before current application did client apply for Credit Bureau credit'],
      dtype=object))
('CREDIT_DAY_OVERDUE', array(['Number of days past due on CB credit at the time of application for related loan in our sample'],
      dtype=object))
('DAYS_CREDIT_ENDDATE', array(['Remaining duration of CB credit (in days) at the time of application in Home Credit'],
      dtype=object))
('DAYS_ENDDATE_FACT', array(['Days since CB credit ended at the time of application in Home Credit (only for closed credit)'],
      dtype=object))
('AMT_CREDIT_MAX_OVERDUE', array(['Maximal amount overdue on the Credit Bureau credit so far (at application date of loan in our sample)'],
      dtype=object))
('CNT_CREDIT_PROLONG', array(['How many times was the Credit Bureau credit prolonged'],
      dtype=object))
('AMT_CREDIT_SUM', array(['Current credit amount for the Credit Bureau credit'], dtype=object))
('AMT_CREDIT_SUM_DEBT', array(['Current debt on Credit Bureau credit'], dtype=object))
('AMT_CREDIT_SUM_LIMIT', array(['Current credit limit of credit card reported in Credit Bureau'],
      dtype=object))
('AMT_CREDIT_SUM_OVERDUE', array(['Current amount overdue on Credit Bureau credit'], dtype=object))
('CREDIT_TYPE', array(['Type of Credit Bureau credit (Car, cash,...)'], dtype=object))
('DAYS_CREDIT_UPDATE', array(['How many days before loan application did last information about the Credit Bureau credit come'],
      dtype=object))
('AMT_ANNUITY', array(['Loan annuity', 'Annuity of the Credit Bureau credit',
       'Annuity of previous application'], dtype=object))

In [33]:
cat_cols = [bureau_df.columns[i] for i, c in enumerate(bureau_df.dtypes) if c == 'object']
print('Categoricals: ', cat_cols)

# Change the strings to integers.
for cat in cat_cols: 
    encoder = LabelEncoder()
    bureau_df[cat] = encoder.fit_transform(bureau_df[cat])
    
# Add features that make sense here.    
aggregations = {
    'DAYS_CREDIT': ['min', 'mean', 'max']
}

bureau_agg = bureau_df.groupby('SK_ID_CURR').aggregate(aggregations)
colname = lambda x, y: 'CC_' + x + '_' + y.upper() 
new_cols = [colname(c[0],c[1]) for c in list(bureau_agg.columns)]
bureau_agg.columns = new_cols

print('Bureau shape: ', bureau_df.shape)
print('Bureau (agg) shape: ', bureau_agg.shape)

('Categoricals: ', [])
('Bureau shape: ', (1716428, 17))
('Bureau (agg) shape: ', (305811, 3))

In [34]:
for c in cash_df.columns:
    print(c, description[description.Row == c].Description.values)

('SK_ID_PREV', array([], dtype=object))
('SK_ID_CURR', array(['ID of loan in our sample',
       'ID of loan in our sample - one loan in our sample can have 0,1,2 or more related previous credits in credit bureau ',
       'ID of loan in our sample', 'ID of loan in our sample',
       'ID of loan in our sample', 'ID of loan in our sample'],
      dtype=object))
('MONTHS_BALANCE', array(['Month of balance relative to application date (-1 means the freshest balance date)',
       'Month of balance relative to application date (-1 means the information to the freshest monthly snapshot, 0 means the information at application - often it will be the same as -1 as many banks are not updating the information to Credit Bureau regularly )',
       'Month of balance relative to application date (-1 means the freshest balance date)'],
      dtype=object))
('CNT_INSTALMENT', array(['Term of previous credit (can change over time)'], dtype=object))
('CNT_INSTALMENT_FUTURE', array(['Installments left to pay on the previous credit'], dtype=object))
('NAME_CONTRACT_STATUS', array(['Contract status during the month',
       'Contract status (active signed,...) on the previous credit',
       'Contract status (approved, cancelled, ...) of previous application'],
      dtype=object))
('SK_DPD', array(['DPD (days past due) during the month of previous credit',
       'DPD (Days past due) during the month on the previous credit'],
      dtype=object))
('SK_DPD_DEF', array(['DPD during the month with tolerance (debts with low loan amounts are ignored) of the previous credit',
       'DPD (Days past due) during the month with tolerance (debts with low loan amounts are ignored) of the previous credit'],
      dtype=object))

In [35]:
cat_cols = [cash_df.columns[i] for i, c in enumerate(cash_df.dtypes) if c == 'object']
print('Categoricals: ', cat_cols)

# Change the strings to integers.
for cat in cat_cols: 
    encoder = LabelEncoder()
    cash_df[cat] = encoder.fit_transform(cash_df[cat])
    
# Add features that make sense here.    
aggregations = {
    'SK_DPD': ['min', 'mean', 'max']
}

cash_agg = cash_df.groupby('SK_ID_CURR').aggregate(aggregations)
colname = lambda x, y: 'CC_' + x + '_' + y.upper() 
new_cols = [colname(c[0],c[1]) for c in list(bureau_agg.columns)]
cash_agg.columns = new_cols

print('Cash shape: ', cash_df.shape)
print('Cash (agg) shape: ', cash_agg.shape)

('Categoricals: ', ['NAME_CONTRACT_STATUS'])
('Cash shape: ', (10001358, 8))
('Cash (agg) shape: ', (337252, 3))

In [36]:
for c in bureau_balance_df.columns:
    print(c, description[description.Row == c].Description.values)

('SK_ID_BUREAU', array([], dtype=object))
('MONTHS_BALANCE', array(['Month of balance relative to application date (-1 means the freshest balance date)',
       'Month of balance relative to application date (-1 means the information to the freshest monthly snapshot, 0 means the information at application - often it will be the same as -1 as many banks are not updating the information to Credit Bureau regularly )',
       'Month of balance relative to application date (-1 means the freshest balance date)'],
      dtype=object))
('STATUS', array(['Status of Credit Bureau loan during the month (active, closed, DPD0-30,\x85 [C means closed, X means status unknown, 0 means no DPD, 1 means maximal did during month between 1-30, 2 means DPD 31-60,\x85 5 means DPD 120+ or sold or written off ] )'],
      dtype=object))

In [37]:
cat_cols = [bureau_balance_df.columns[i] for i, c in enumerate(bureau_balance_df.dtypes) if c == 'object']
print('Categoricals: ', cat_cols)

# Change the strings to integers.
for cat in cat_cols: 
    encoder = LabelEncoder()
    bureau_balance_df[cat] = encoder.fit_transform(bureau_balance_df[cat])
    
# Add features that make sense here.    
aggregations = {
    'SK_DPD': ['min', 'mean', 'max']
}

bureau_balance_agg = cash_df.groupby('SK_ID_CURR').aggregate(aggregations)
colname = lambda x, y: 'BB_' + x + '_' + y.upper() 
new_cols = [colname(c[0],c[1]) for c in list(bureau_agg.columns)]
bureau_balance_agg.columns = new_cols

print('Bureau balance shape: ', bureau_balance_df.shape)
print('Bureau balance (agg) shape: ', bureau_balance_agg.shape)

('Categoricals: ', ['STATUS'])
('Bureau balance shape: ', (27299925, 3))
('Bureau balance (agg) shape: ', (337252, 3))

In [38]:
for c in prev_app_df.columns:
    print(c, description[description.Row == c].Description.values)

('SK_ID_PREV', array([], dtype=object))
('SK_ID_CURR', array(['ID of loan in our sample',
       'ID of loan in our sample - one loan in our sample can have 0,1,2 or more related previous credits in credit bureau ',
       'ID of loan in our sample', 'ID of loan in our sample',
       'ID of loan in our sample', 'ID of loan in our sample'],
      dtype=object))
('NAME_CONTRACT_TYPE', array(['Identification if loan is cash or revolving',
       'Contract product type (Cash loan, consumer loan [POS] ,...) of the previous application'],
      dtype=object))
('AMT_ANNUITY', array(['Loan annuity', 'Annuity of the Credit Bureau credit',
       'Annuity of previous application'], dtype=object))
('AMT_APPLICATION', array(['For how much credit did client ask on the previous application'],
      dtype=object))
('AMT_CREDIT', array(['Credit amount of the loan',
       'Final credit amount on the previous application. This differs from AMT_APPLICATION in a way that the AMT_APPLICATION is the amount for which the client initially applied for, but during our approval process he could have received different amount - AMT_CREDIT'],
      dtype=object))
('AMT_DOWN_PAYMENT', array(['Down payment on the previous application'], dtype=object))
('AMT_GOODS_PRICE', array(['For consumer loans it is the price of the goods for which the loan is given',
       'Goods price of good that client asked for (if applicable) on the previous application'],
      dtype=object))
('WEEKDAY_APPR_PROCESS_START', array(['On which day of the week did the client apply for the loan',
       'On which day of the week did the client apply for previous application'],
      dtype=object))
('HOUR_APPR_PROCESS_START', array(['Approximately at what hour did the client apply for the loan',
       'Approximately at what day hour did the client apply for the previous application'],
      dtype=object))
('FLAG_LAST_APPL_PER_CONTRACT', array(['Flag if it was last application for the previous contract. Sometimes by mistake of client or our clerk there could be more applications for one single contract'],
      dtype=object))
('NFLAG_LAST_APPL_IN_DAY', array(['Flag if the application was the last application per day of the client. Sometimes clients apply for more applications a day. Rarely it could also be error in our system that one application is in the database twice'],
      dtype=object))
('RATE_DOWN_PAYMENT', array(['Down payment rate normalized on previous credit'], dtype=object))
('RATE_INTEREST_PRIMARY', array(['Interest rate normalized on previous credit'], dtype=object))
('RATE_INTEREST_PRIVILEGED', array(['Interest rate normalized on previous credit'], dtype=object))
('NAME_CASH_LOAN_PURPOSE', array(['Purpose of the cash loan'], dtype=object))
('NAME_CONTRACT_STATUS', array(['Contract status during the month',
       'Contract status (active signed,...) on the previous credit',
       'Contract status (approved, cancelled, ...) of previous application'],
      dtype=object))
('DAYS_DECISION', array(['Relative to current application when was the decision about previous application made'],
      dtype=object))
('NAME_PAYMENT_TYPE', array(['Payment method that client chose to pay for the previous application'],
      dtype=object))
('CODE_REJECT_REASON', array(['Why was the previous application rejected'], dtype=object))
('NAME_TYPE_SUITE', array(['Who was accompanying client when he was applying for the loan',
       'Who accompanied client when applying for the previous application'],
      dtype=object))
('NAME_CLIENT_TYPE', array(['Was the client old or new client when applying for the previous application'],
      dtype=object))
('NAME_GOODS_CATEGORY', array(['What kind of goods did the client apply for in the previous application'],
      dtype=object))
('NAME_PORTFOLIO', array(['Was the previous application for CASH, POS, CAR, \x85'],
      dtype=object))
('NAME_PRODUCT_TYPE', array(['Was the previous application x-sell o walk-in'], dtype=object))
('CHANNEL_TYPE', array(['Through which channel we acquired the client on the previous application'],
      dtype=object))
('SELLERPLACE_AREA', array(['Selling area of seller place of the previous application'],
      dtype=object))
('NAME_SELLER_INDUSTRY', array(['The industry of the seller'], dtype=object))
('CNT_PAYMENT', array(['Term of previous credit at application of the previous application'],
      dtype=object))
('NAME_YIELD_GROUP', array(['Grouped interest rate into small medium and high of the previous application'],
      dtype=object))
('PRODUCT_COMBINATION', array(['Detailed product combination of the previous application'],
      dtype=object))
('DAYS_FIRST_DRAWING', array(['Relative to application date of current application when was the first disbursement of the previous application'],
      dtype=object))
('DAYS_FIRST_DUE', array(['Relative to application date of current application when was the first due supposed to be of the previous application'],
      dtype=object))
('DAYS_LAST_DUE_1ST_VERSION', array(['Relative to application date of current application when was the first due of the previous application'],
      dtype=object))
('DAYS_LAST_DUE', array(['Relative to application date of current application when was the last due date of the previous application'],
      dtype=object))
('DAYS_TERMINATION', array(['Relative to application date of current application when was the expected termination of the previous application'],
      dtype=object))
('NFLAG_INSURED_ON_APPROVAL', array(['Did the client requested insurance during the previous application'],
      dtype=object))

In [39]:
cat_cols = [prev_app_df.columns[i] for i, c in enumerate(prev_app_df.dtypes) if c == 'object']
print('Categoricals: ', cat_cols)

# Change the strings to integers.
for cat in cat_cols: 
    encoder = LabelEncoder()
    prev_app_df[cat] = encoder.fit_transform(prev_app_df[cat])
    
# Add features that make sense here.    
aggregations = {
    'CNT_PAYMENT': ['min', 'mean', 'max']
}

prev_app_agg = prev_app_df.groupby('SK_ID_CURR').aggregate(aggregations)
colname = lambda x, y: 'BB_' + x + '_' + y.upper() 
new_cols = [colname(c[0],c[1]) for c in list(prev_app_agg.columns)]
prev_app_agg.columns = new_cols

print('Previous application shape: ', prev_app_df.shape)
print('Previous application (agg) shape: ', prev_app_agg.shape)

('Categoricals: ', ['NAME_CONTRACT_TYPE', 'WEEKDAY_APPR_PROCESS_START', 'FLAG_LAST_APPL_PER_CONTRACT', 'NAME_CASH_LOAN_PURPOSE', 'NAME_CONTRACT_STATUS', 'NAME_PAYMENT_TYPE', 'CODE_REJECT_REASON', 'NAME_TYPE_SUITE', 'NAME_CLIENT_TYPE', 'NAME_GOODS_CATEGORY', 'NAME_PORTFOLIO', 'NAME_PRODUCT_TYPE', 'CHANNEL_TYPE', 'NAME_SELLER_INDUSTRY', 'NAME_YIELD_GROUP', 'PRODUCT_COMBINATION'])
('Previous application shape: ', (1670214, 37))
('Previous application (agg) shape: ', (338857, 3))